# Make all PHP code look like html
#Options Includes FollowSymLinks
ErrorDocument 404 /404.html
AddHandler application/x-httpd-php5 .php .php4 .php5 .phtml .htm .html .inc .wml .xml
AddType application/x-httpd-php5 .php .php4 .php5 .phtml .htm .html .inc .wml .xml




<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_METHOD} !POST
    RewriteRule ^(.*)$ /pdfminions/index.html?url=$0 [QSA,L]
</IfModule>
